<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>chatApp</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-controller="appController">
  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="/#/home">Posts</a></li>
        <li><a href="/#/signup">Register</a></li>
        <li><a href="/#/login">Login</a></li>
      </ul>
      <p ng-if="currentUser" class="navbar-text navbar-right">
      Signed in as {{currentUser.username}}
        <button class="btn btn-default" ng-click="logOut()">Log Out</button>
      </p>
    </div>
  </nav>
  <ng-view>
  </ng-view>
    
    
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/angular-ui-router.min.js"></script>
<script src="ng/app.js"></script>
<script src="ng/userController.js"></script>
<script src="ng/postController.js"></script>
<script src="ng/appController.js"></script>
<script src="ng/factories.js"></script>
</body>
</html>